* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Public Sans", sans-serif;
}

.nav-bar,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  padding: 1% 10%;
  background-color: white;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.nav-list {
  gap: 35px;
}
.nav-item {
  list-style: none;
  color: hsl(233, 8%, 62%);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}

.nav-item:hover::after {
  color: hsl(233, 26%, 24%);
  transform: scaleX(1);
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #31d35c, #2bb7da);

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.nav-item.active::after {
  transform: scaleX(1);
}

.nav-item-mobile a {
  color: hsl(240, 5%, 40%);
  font-size: 15px;
}

.nav-icons {
  display: none;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
}

.close-icon {
  margin-left: -50%;
  display: none;
}

.cta {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(45deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
  cursor: pointer;
  color: white;
  font-weight: 700;
  transition: all 0.3s ease;
  font-size: 16px;
}

.cta:hover {
  opacity: 0.6;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 700px;
}

.hero-img-container {
  width: 50%;
  height: auto;
}

.hero2-img {
  position: absolute;
  top: -25%;
  width: 80%;
  right: -30%;
}

.hero-image {
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 2;
  top: -15%;
  right: -10%;
}

.hero-container {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}

.hero-header {
  color: hsl(233, 26%, 24%);
  font-size: 3rem;
  width: 50%;
  font-weight: 200;
}

.hero-line {
  width: 70%;
  color: hsl(233, 8%, 62%);
  font-size: 16px;
}

.cta-hero {
  width: 30%;
}

.about {
  padding: 5% 10%;
  background-color: hsl(220, 16%, 96%);
}

.heading {
  color: hsl(233, 26%, 24%);
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.head-line {
  color: hsl(233, 8%, 62%);
  margin-bottom: 30px;
  width: 45%;
}

.reason-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reason-icon {
  width: 20%;
  margin-bottom: 20px;
}

.reason-header {
  color: hsl(233, 26%, 24%);
  font-weight: 200;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.reason-line {
  color: hsl(233, 8%, 62%);
  font-size: 0.9rem;
  width: 70%;
}

.articles {
  padding: 5% 10%;
}

.articles-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 30px;
}

.article-img {
  height: 200px;
}

.article-author {
  font-size: 0.8rem;
  margin-top: 15px;
  color: hsl(233, 8%, 62%);
}

.article-title {
  margin-top: 15px;
  color: hsl(233, 26%, 24%);
  width: 60%;
}

.article-line {
  margin-top: 15px;
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  padding-bottom: 2%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
}

.footer-left,
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
}

.social-container,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.socials {
  display: flex;
  gap: 10px;
}

.footer-nav ul li {
  color: hsl(233, 8%, 62%);
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-nav ul li:hover {
  color: hsl(136, 64%, 51%);
}

.reserved {
  color: hsl(233, 8%, 62%);
}

.hero-mobile-img2 {
  position: absolute;
  top: 5%;
}

.hero-image-mobile {
  position: absolute;
  z-index: 2;
  width: 60%;
  right: 50%;
  left: 25%;
  top: -10%;
}

.hero-mobile {
  display: none;
}

.nav-list-mobile {
  position: absolute;
  top: 8%;
  background-color: white;
  border-radius: 15px;
  left: 30%;
  right: 40%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  z-index: 4;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 340px;
  gap: 30px;
  transform: translateY(-110%);
}

.nav-list-mobile.open-close {
  transform: translateY(0%);
}
@media (max-width: 1280px) {
  .hero-image {
    right: -10%;
    top: -5%;
  }

  .hero2-img {
    top: -15%;
  }

  .cta-hero {
    width: 40%;
  }

  .hero-header {
    width: 80%;
  }

  .hero {
    height: 500px;
  }

  .hero-line {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .hero-image {
    right: -10%;
    top: 0%;
  }

  .hero2-img {
    top: -10%;
  }

  .hero-line {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cta-nav,
  .nav-list {
    display: none;
  }

  .nav-icons {
    display: flex;
  }
  .cta-hero {
    width: 50%;
  }

  .reason-container {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .reason,
  .about,
  .articles,
  .articles-container,
  .article,
  .hero-container,
  footer,
  .footer-left,
  .footer-nav,
  .footer-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .head-line {
    text-align: center;
    width: 58%;
  }

  .reason-line {
    text-align: center;
  }

  .article-img {
    width: 70%;
    height: 300px;
  }

  .hero-img-container {
    display: none;
  }

  .hero-container {
    margin-top: 70%;
    width: 70%;
    padding-bottom: 10%;
  }

  .hero-header,
  .hero-line {
    text-align: center;
  }

  .hero-header {
    width: 70%;
  }
  .hero {
    flex-direction: column;
    height: auto;
  }

  .hero-mobile {
    display: block;
  }
  .social-container,
  .footer-nav,
  .footer-right {
    margin-bottom: 10px;
  }
}
